extends ../layouts/table

block content
    .col-md-12
        // BEGIN SAMPLE TABLE PORTLET
        .portlet.box.primary
            .portlet-title
                .caption
                    i.livicon(data-name='camera-alt', data-size='16', data-loop='true', data-c='#fff', data-hc='white')
                    |                                     Danh sách quản trị viên
            .portlet-body
                .dsds
                    table.table.table-hover#list
                        thead
                            tr
                                th #
                                th Họ và tên
                                th Email
                                th Quyền
                                th Trạng thái
                                th Thao tác
                        tbody
                            - var link = '/admin/users/'
                            if users.length != 0
                                each user, index in users
                                    tr
                                        td= index + 1
                                        td= user.fullName
                                        td= user.email
                                        td= user.role.name
                                        td
                                            span.label.label-sm(class=user.status == 0 ? 'label-danger' : 'label-success')= user.statusName
                                        td
                                            .col-md-3
                                                a.btn.btn-sm.btn-success(href=link + user._id) Chỉnh sửa
                                            .col-md-3
                                                form(action=link, method = 'POST')
                                                    input(type='hidden', value=user._id, name='id')
                                                    button.btn.btn-sm.btn-warning(type="submit") Xóa