extends ../layouts/table


block content
    .col-md-12
        // BEGIN SAMPLE TABLE PORTLET
        .portlet.box.primary
            .portlet-title
                .caption
                    i.livicon(data-name='camera-alt', data-size='16', data-loop='true', data-c='#fff', data-hc='white')
                    |                                     Danh sách danh mục
            .portlet-body
                .ds
                    table.table.table-hover#list
                        thead
                            tr
                                th #
                                th Tên
                                th Slug
                                th Thao tác
                        tbody

                            - var link = '/admin/categories/'
                            each category, index in categories
                                tr
                                    td= index + 1
                                    td= category.name
                                    td= category.slug
                                    td

                                        a.btn.btn-sm.btn-success(href=link + category._id, style="float : left")
                                            i.livicon(data-name="external-link" data-size="15" data-c="#fff" data-hc="#fff" data-loop="true")
                                        form(action=link, method = 'POST', style="float : left")
                                            input(type='hidden', value=category._id, name='id')
                                            button.btn.btn-sm.btn-warning(type="submit")
                                                i.livicon(data-name="trash" data-size="15" data-c="#fff" data-hc="#fff" data-loop="true")